<ion-view title="Mapa">
    <ion-content>


		<div id="descripcion" style="display:none" >
			<div class="card">
			  <div class="item item-text-wrap item-icon-right">
				<i class="icon ion-close-round" ng-click="closeCard()"></i>
			    Test de Mensaje :v
			  </div>
			</div>
		</div>
		

    	<div ng-if="stateMap == 'Loading'" style="text-align: center">
            <br><ion-spinner icon="ripple"></ion-spinner>
        </div>
        <div ng-if="stateMap == 'Error'" style="text-align: center">
            {{mensaje}}
        </div>

    	<div id="map" data-tap-disabled="true"></div>

    </ion-content>
</ion-view>