<ion-view title="Login" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list ">
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input5">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input6">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <!-- <button id="login-button7" class=" button button-stable  button-block" ng-click="doLogin()">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button8" class=" button button-positive  button-block button-clear ">Obtener una cuenta</a> -->
        </form>
    </ion-content>
</ion-view>