<ion-view title="Mis Notificaciones" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="misNotificaciones-form7" class="list ">
            <ion-list id="misNotificaciones-list8" class=" ">
                <ion-item id="misNotificaciones-list-item6" class="  ">Item 1</ion-item>
                <ion-item class="item-icon-left  " id="misNotificaciones-list-item9">
                    <i class="icon ion-ionic"></i>Item</ion-item>
                <ion-item class="item-avatar  " id="misNotificaciones-list-item10">
                    <h2>Item</h2>
                </ion-item>
                <ion-item class="item-thumbnail-left  " id="misNotificaciones-list-item11">
                    <h2>Item</h2>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>